<connectionStrings>
  <add name="admistracion" connectionString="Server=192.168.1.250; Database=BD1; User Id=jdhades; Password = P4nt3r4--"/>
  <add name="contabilidad" connectionString="Server=CONTABILIDAD\SQLEXPRESS; Database=SAFC_ECB; User Id=user; Password = user"/>
  <add name="contabilidad2" connectionString="Server=CONTABILIDAD\SQLEXPRESS; Database=SAFC_ECB; User Id=user; Password = user"/>
</connectionStrings>